{% extends 'mainapp/base.html' %}
{% block content %}
        {% for post in posts %}
            <div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">Результат проверки качества данных</a></h1>
                <h2>Запрос</h2>
                <p>Файл: {{ post.file }}</p>
                <p>Источник: {{ post.source }}</p>

                <h3>Качество источника</h3>
                <p>Доступность: {{ post.availability }}</p>
                <p>Авторитетность: {{ post.authority }}</p>
                <p>Репутация: {{ post.popularuty }}</p>

                <h3>Качество данных</h3>
                <p>Интерпретируемость: {{ post.machinereadability }}</p>
                <p>Достоверность: {{ post.reliability }}</p>
                <p>Актуальность: {{ post.relevance }}</p>
                <p>Полнота: {{ post.fullness }}</p>
            </div>
        {% endfor %}
{% endblock %}
